name: Custom Actions Composite Workflows
on:
    push:
        branches:
            - main
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          - name: Setup Node and NPM depenedencies
            uses: ./.github/actions/composite-cache-dependencies
            with:
              node_version: 20.x
              working-directory: 04-using-actions/react-app